# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
*.dart.js
*.info.json
*.dill
*.tmp
*.log

# Environment & Secrets
.env
*.env
assets/env/.env

# macOS
**/DerivedData/
**/.generated/
**/xcuserdata/
**/Pods/
**/*.pbxuser
**/*.mode1v3
**/*.mode2v3
**/*.perspectivev3
**/*.xcuserstate
*.xcworkspace

# Android
**/gradle-wrapper.jar
**/local.properties
**/.gradle/
**/captures/
**/build/
**/*.iml
**/.idea/

# iOS
**/Pods/
**/build/
**/Flutter/ephemeral/
**/Flutter/App.framework
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/Flutter/Generated.xcconfig
**/Flutter/app.flx
**/Flutter/flutter_assets/
**/Flutter/flutter_export_environment.sh
**/Flutter/App.framework/
**/Flutter/GeneratedPluginRegistrant.*

# Windows, Linux, Web (Generated)
**/generated_plugin_registrant.*
**/generated_plugins.cmake
**/CMakeFiles/
**/Makefile
**/flutter/generated_plugin_registrant.cc
**/flutter/generated_plugins.cmake

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.tmp
*.bak
*.orig

# Misc
.DS_Store
*.class
*.lock
*.pyc
*.so
*.exe
*.out
*.a
*.o
*.obj
*.dll
*.lib

# Flutter build outputs
/build/
.dart_tool/
.flutter-plugins-dependencies
.flutter-plugins
.flutter-plugins.*
/pubspec.lock
